.content{
    display: flex;
    flex-direction: column;
}

.content1{
    background-image: url("../Picture/test4.png");
    background-size: 100%;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

.content1 .p1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 40px;
}

.content1 .p2{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    color: #800000;
    font-weight: bold;
}

.content2{
    background-image: url("../Picture/test3.png");
    background-size: 100%;
    display: flex;
    align-items: center;
}

.content2 img{
    border-radius: 20px;
    margin: 5% 0 5% 15%;
    width: 35%;
    float: left;
}

.content2 .word{
    background-color: #fafafa;
    text-align: justify ;
    border-radius: 20px;
    margin: 5% 0 5% 1%;
    width: 40%;
    float: right;
}

.content2 .word .p1{
    color: #800000;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
}

.content2 .word .p2{
    color: #828282;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}

.content3{
    background-color: #b959ff;
    display: flex;
    align-items: center;
}

.content3 img{
    border-radius: 20px;
    margin: 5% 0 5% 15%;
    width: 35%;
    float: left;
}

.content3 .word{
    background-color: #fafafa;
    text-align: justify ;
    border-radius: 20px;
    margin: 5% 0 5% 1%;
    width: 40%;
    float: right;
}

.content3 .word .p1{  
    color: #800000;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
}

.content3 .word .p2{
    color: #828282;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}

.content4{
    background-color: #d4d4d4;
}

.content4 .title{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

.content5{
    background-color: #d4d4d4;
    padding-left: 10%;
    padding-bottom: 5%;
}

.content5 img{
    width: 30%;
    height: 455px;
    float: left;
}

.content5 .word1{
    width: 30%;
    height: 455px;
    background-color: #fafafa;
    float: left;
}

.content5 .word2{
    width: 30%;
    height: 455px;
    background-color: #fafafa;
    border-radius: 0px 0px 0px 40px;
    float: left;
}

.content5 .word3{
    width: 30%;
    height: 455px;
    background-color: #fafafa;
    border-radius: 0px 0px 40px 0px;
    float: left;
}

.content5 .p1{
    margin-left: 5%;
    color: #800000;
    font-size: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

.content5 .word1 .p2{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
}

.content5 .word1 .p3{
    margin-left: 5%;
    color: #828282;
    font-size: 20px;
}

.content5 .word2 .p2{
    margin-left: 5%;
    color: #828282;
    font-size: 20px;
}

.content5 .word3 .p2{
    margin-left: 5%;
    color: #828282;
    font-size: 20px;
}