body{
    margin: 0;
    padding: 0;
}

.guide{
    display: flex;
}

.guide .logo{
    display: flex;
    align-items: center;
    width: 30%;
    float: left;
}

.guide .logo img{
    display:block; 
    margin:auto;
    width: 90%;
}

.guide .link{
    width: 70%;
    font-size: 20px;
    font-weight: bold;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;  
    float: left;
}

ul.drop-down-menu img{
    margin: 0 0 0 30px;
    margin-top: 9px;
}

ul.drop-down-menu li {
    margin: 0 0 0 30px;
    float: left;
}

ul.drop-down-menu a {
    color: #000000;
    display: block;
    text-decoration: none;
    line-height: 40px;
    transition: .5s;
}

ul.drop-down-menu a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #b959ff;
    transition: .5s;
}

ul.drop-down-menu a:hover::after{
    width: 100%;
}

ul.drop-down-menu a:hover{ 
    color: #b959ff;
}

ul.language {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    margin: 2% 4% 2% 0;
    background-color: #e8e8e8;
    border-radius: 30px;
    float: right;
}

ul.language img{
    margin-top: 9px;
}

ul.language li {
    margin: 0 15px 0 15px;
    float: left;
}

ul.language a {
    color: #000000;
    display: block;
    text-decoration: none;
    line-height: 40px;
    transition: .5s;
}

ul.language a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #b959ff;
    transition: .5s;
}

ul.language a:hover::after{
    width: 100%;
}

ul.language a:hover{ 
    color: #b959ff;
}

ul.search {    
    margin: 2% 0 2% 0;
    float: right;
}

ul.search img{
    margin-top: 9px;
}

ul.search li {
    margin: 0 15px 0 15px;
    float: left;
    width: 100%;
}

ul.search a {
    color: #000000;
    display: block;
    text-decoration: none;
    line-height: 40px;    
    transition: .5s;
}

ul.search .word{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
    padding-left: 1%;
    border-radius: 30px;
    border: none;
    outline: none;
}

ul.search .word:focus{
    outline: 3px solid #b959ff;
}

ul.search > li {
    float: left;
}

ul.search ul {
    position: absolute;
    left: 0; 
    width: 100%;
    background-color: #696969f0;
}


ul.search ul {
    display: none;
}

ul.search li:hover > ul {
    display: block;
}


@media(min-width: 1210px){ 
    ul.menu{
        display: none;
    }
}

@media(max-width: 1210px) {

    ul.drop-down-menu{
        display: none;
    }

    ul.menu{
        display: '';
    }
    
    ul.menu {    
        font-size: 20px;
        margin: 2% 4% 2% 0;
        border-radius: 30px;
        float: right;
    }
    
    ul.menu img{
        margin-top: 9px;
    }
    
    ul.menu li {
        margin: 0 15px 0 15px;
        float: left;
        width: 100%;
    }
    
    ul.menu a {
        color: #000000;
        display: block;
        text-decoration: none;
        line-height: 40px;    
        transition: .5s;
    }
    
    ul.menu > li {
        float: left;
    }
    
    ul.menu ul {
        position: absolute;
        right: 0;
        width: 30%;
        background-color: #ffffff;
        box-shadow: -20px 20px 40px rgba(186, 89, 255, .2);
    }
    
    ul.menu a::after{
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background: #b959ff;
        transition: .5s;
    }
    
    ul.menu a:hover::after{
        width: 100%;
    }
    
    ul.menu li:hover > a { 
        color: #b959ff;
    }
    
    ul.menu ul {
        display: none;
    }
    
    ul.menu li:hover > ul {
        display: block;
    }

}

/* ul.drop-down-menu ul {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
} */

/* ul.drop-down-menu ul {
    display: none;
}

ul.drop-down-menu li:hover > ul {
    display: block;
} */

.copyright{
    background-color: #b959ff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}