body{
    margin: 0;
    padding: 0;
}

.guide{
    display: flex;
    height: 70px;
}

.guide .logo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 20px;
    height: 70px;
}

.guide .link{
    display: flex;
    height: 70px;
}

.guide .logo img{
    display: block;
    width: 320px;
}
/*  */
div.drop-down-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    height: 70px;
}

.drop-down-menu a {
    margin: 0 0 0 30px;
    color: #000000;
    line-height: 68px;
    font-weight: bolder;
    text-decoration: none;
}

.drop-down-menu a:hover{ 
    color: #b959ff;
    transition: .5s;
}
/*  */
.language {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 30px;
}

.language-btn{
    border: none;
    background-color: transparent;
}

.language-content {
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(186, 89, 255, .2);
    top: 70%;
  }

.language-content a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px 0 20px;
    font-weight: bolder;
    color: #000;
}

.language a:hover{
    color: #b959ff;
    transition: .5s;
}

.language.active .language-content {
    display: block;
}
/*  */
.search {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 30px;
}

.search-bar{
    height: 32px;
    font-size: 20px;
    border-radius: 30px 0 0 30px;
    padding: 0 0 0 15px;
    border: none;
    border-top: 2px solid #000; /* 上邊框，2像素寬，黑色 */
    border-left: 2px solid #000; /* 右邊框，2像素寬，黑色 */
    border-bottom: 2px solid #000; /* 下邊框，2像素寬，黑色 */
    border-right: none; /* 左邊框不顯示 */
}

.search-btn{
    height: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    border-radius: 0 30px 30px 0;
    border-top: 2px solid #000; /* 上邊框，2像素寬，黑色 */
    border-right: 2px solid #000; /* 右邊框，2像素寬，黑色 */
    border-bottom: 2px solid #000; /* 下邊框，2像素寬，黑色 */
    border-left: none; /* 左邊框不顯示 */

}

.search:focus-within .search-bar {
    outline: none;
    border-top: 2px solid #b959ff; /* 上邊框，2像素寬，黑色 */
    border-left: 2px solid #b959ff; /* 右邊框，2像素寬，黑色 */
    border-bottom: 2px solid #b959ff; /* 下邊框，2像素寬，黑色 */
    border-right: none; /* 左邊框不顯示 */
}

.search:focus-within .search-btn {
    border-top: 2px solid #b959ff; /* 上邊框，2像素寬，黑色 */
    border-right: 2px solid #b959ff; /* 右邊框，2像素寬，黑色 */
    border-bottom: 2px solid #b959ff; /* 下邊框，2像素寬，黑色 */
    border-left: none; /* 左邊框不顯示 */
}


@media(min-width: 1250px){ 
    div.menu{
        display: none;
    }
}


@media(max-width: 1250px) {

    div.drop-down-menu{
        display: none;
    }

    div.search{
        display: none;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 0 0 30px;
    }
    
    .menu-btn{
        border: none;
        background-color: transparent;
    }
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: #fff;
        text-align: left;
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 70%;
      }
    
    .menu-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        width: 150px;
        margin: 0 0 0 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .menu a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .menu.active .menu-content {
        display: block;
    }
}

.copyright{
    background-color: #b959ff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}