@media(min-width: 1024px){ 
    body{
        margin: 0;
        padding: 0;
    }
    
    .guide{
        display: flex;
        height: 70px;
    }
    
    .guide .logo{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 0 0 1%;
        height: 70px;
    }
    
    .guide .link{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 70%;
        height: 70px;
    }
    
    .guide .logo img{
        margin: 0 0 0 1%;
        width: 300px;
    }
    /*  */
    .drop-down-menu {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-size: 20px;
        width: 60%;
    }
    
    .drop-down-menu a {
        margin: 0 0 0 2%;
        color: #000000;
        font-weight: bolder;
        text-decoration: none;
    }
    
    .drop-down-menu a:hover{ 
        color: #b959ff;
        transition: .5s;
    }
    /*  */
    .language {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 15%;
    }
    
    .language-btn{
        border: none;
        background-color: transparent;
    }
    
    .language-content{
        display: none;
        position: absolute;
        background-color: #fff; 
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 7%;
    }
    
    .language-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        margin: 10px 20px 10px 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .language a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .language.active .language-content {
        display: block;
    }
    /*  */
    .search {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 25%;
    }
    
    .search-bar{
        height: 32px;
        font-size: 20px;
        width: 150px;
        border-radius: 30px 0 0 30px;
        padding: 0 0 0 15px;
        border: none;
        border-top: 2px solid #000; /* 上邊框，2像素寬，黑色 */
        border-left: 2px solid #000; /* 右邊框，2像素寬，黑色 */
        border-bottom: 2px solid #000; /* 下邊框，2像素寬，黑色 */
        border-right: none; /* 左邊框不顯示 */
    }
    
    .search-btn{
        height: 35px;
        background-color: transparent;
        border: none;
        position: absolute;
        border-radius: 0 30px 30px 0;
        border-top: 2px solid #000; /* 上邊框，2像素寬，黑色 */
        border-right: 2px solid #000; /* 右邊框，2像素寬，黑色 */
        border-bottom: 2px solid #000; /* 下邊框，2像素寬，黑色 */
        border-left: none; /* 左邊框不顯示 */
    
    }
    
    .search:focus-within .search-bar {
        outline: none;
        border-top: 2px solid #b959ff; /* 上邊框，2像素寬，黑色 */
        border-left: 2px solid #b959ff; /* 右邊框，2像素寬，黑色 */
        border-bottom: 2px solid #b959ff; /* 下邊框，2像素寬，黑色 */
        border-right: none; /* 左邊框不顯示 */
    }
    
    .search:focus-within .search-btn {
        border-top: 2px solid #b959ff; /* 上邊框，2像素寬，黑色 */
        border-right: 2px solid #b959ff; /* 右邊框，2像素寬，黑色 */
        border-bottom: 2px solid #b959ff; /* 下邊框，2像素寬，黑色 */
        border-left: none; /* 左邊框不顯示 */
    }

    div.menu{
        display: none;
    }

    .copyright{
        background-color: #b959ff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-size: 15px;
    }
}

@media(min-width: 720px) and (max-width: 1024px) {
    .drop-down-menu{
        display: none;
    }

    .search{
        display: none;
    }

    body{
        margin: 0;
        padding: 0;
    }
    
    .guide{
        display: flex;
        height: 70px;
    }
    
    .guide .logo{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 0 0 1%;
        height: 70px;
    }
    
    .guide .link{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 70%;
        height: 70px;
    }
    
    .guide .logo img{
        width: 300px;
    }
    .language {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 15%;
    }
    
    .language-btn{
        border: none;
        background-color: transparent;
    }
    
    .language-content{
        display: none;
        position: absolute;
        background-color: #fff; 
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 70%;
    }
    
    .language-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        margin: 10px 20px 10px 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .language a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .language.active .language-content {
        display: block;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 15%;
    }
    
    .menu-btn{
        border: none;
        background-color: transparent;
    }
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: #fff;
        text-align: left;
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 70%;
      }
    
    .menu-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        width: 150px;
        margin: 0 0 0 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .menu a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .menu.active .menu-content {
        display: block;
    }

    .copyright{
        background-color: #b959ff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-size: 15px;
    }
}

@media(max-width: 720px){
    .drop-down-menu{
        display: none;
    }

    .search{
        display: none;
    }

    body{
        margin: 0;
        padding: 0;
    }
    
    .guide{
        display: flex;
        height: 70px;
    }
    
    .guide .logo{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 0 0 1%;
        height: 70px;
    }
    
    .guide .link{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 70%;
        height: 70px;
    }
    
    .guide .logo img{
        width: 300px;
    }
    /*  */
    .language {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .language-btn{
        border: none;
        background-color: transparent;
    }
    
    .language-content{
        display: none;
        position: absolute;
        background-color: #fff; 
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 70%;
        z-index: 1;
    }
    
    .language-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        margin: 10px 20px 10px 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .language a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .language.active .language-content {
        display: block;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .menu-btn{
        border: none;
        background-color: transparent;
    }
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: #fff;
        text-align: left;
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(186, 89, 255, .2);
        top: 70%;
        z-index: 1;
      }
    
    .menu-content a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        width: 150px;
        margin: 0 0 0 20px;
        font-weight: bolder;
        color: #000;
    }
    
    .menu a:hover{
        color: #b959ff;
        transition: .5s;
    }
    
    .menu.active .menu-content {
        display: block;
    }

    .copyright{
        background-color: #b959ff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-size: 15px;
    }
}
