.content{
    display: flex;
    flex-direction: column;
}

.content1{
    background-image: url("../Picture/test4.png");
    background-size: 100%;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: "Comic Sans MS";
}

.content2{
    background-image: url("../Picture/test8.png");
    background-size: cover;
}

.content2 .input{ 
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 60%;
    float: left;
}

.content2 .data{
    background-color: #fafafa;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 8%;
    width: 30%;
    font-size: 20px;
    border: 3px solid #000000;
    float: right;
}

.content2 input{
    border-radius: 20px 20px 20px 20px;
    height: 70px;
    width: 70%;
    padding-left: 1%;
    font-size: 25px;
    border: 3px solid #000;
}

.content2 textarea{
    border-radius: 20px 20px 20px 20px;
    height: 150px;
    width: 70%;
    padding-left: 1%;
    font-size: 25px;
    border: 3px solid #000;
    resize: none;
    float: left;
}

.content2 input:focus,.content2 textarea:focus{
    outline: none;
    border: 3px solid #b959ff;
}

.content2 .data .word{
    margin-left: 1%;
    margin-bottom: 3%;
}

.content2 .data .title1{
    font-size: 30px;
    color: #b959ff;
}

.content2 .data .title2{
    font-size: 25px;
    color: #00a8a8;
}

.content2 .data a{
    color: #000000;
    text-decoration: none;
}

.content2 .data a:hover{
    color: #0000D6;
}

/* 样式表开始 */
.color-transition-button {
    /* 保持原始按钮的样式 */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #b959ff;
    color: #fafafa;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    position: relative;
    overflow: hidden; /* 为了裁剪伪元素 */
}

.button-text {
    /* 设置按钮上文字的样式 */
    position: relative;
    z-index: 1; /* 将文字置于伪元素之上 */
}

.fill {
    /* 用于填充颜色的伪元素 */
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000000;
    transform-origin: left;
    transition: width 0.5s ease-in-out; /* 宽度变化过渡效果，持续0.3秒，缓入缓出 */
}

.color-transition-button:hover .fill {
    /* 当按钮悬停时，伪元素宽度变为100%，实现颜色从左到右填充效果 */
    width: 100%;
}
/* 样式表结束 */