.content1{
    display: flex;
}

.content1 .product{
    width: 50%;
    display: flex;
    justify-content: center;
}

.content1 img{
    width: 80%;
    float: left;
}

.content1 .txt{
    width: 50%;
    float: right;
}

.content1 .txt .one{
    font-size: 25px;
    font-weight: bold;
}

.content1 .txt .two{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.content1 .txt .three{
    font-size: 25px;
    font-weight: bold;
    color: brown;
}

.content1 .txt .four{
    font-size: 20px;
    color: #ababab;
}

button{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #b959ff;
    color: #fafafa;
    border: none;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
}

button:hover{
    border: 3px solid #000000;
}

.content2 .ContactInfo{
    background-color: #e8e8e8;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 300px;
}

.content2 .ContactInfo .name{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    color: #000000;
    font-weight: bold;
    float: left;
}

.content2 .ContactInfo .name p{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    font-size: 140%;
}

.content2 .ContactInfo .name img{
    display:block; 
    margin:auto;
    width: 70%;
}

.content2 .ContactInfo .data{
    background-color: #fafafa;
    border-radius: 20px 20px 20px 20px;
    width: 45%;
    height: 80%;
    float: right;
}

.content2 .ContactInfo .data .title1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 30px;
}

.content2 .ContactInfo .data img{
    height: 20px;
    margin-left: 5%;
    float: left;
}

.content2 .ContactInfo .data .title2{
    font-size: 20px;
}

.content2 .ContactInfo .data a{
    color: #000000;
    text-decoration: none;
}

.content2 .ContactInfo .data a:hover{
    color: #0000D6;
}