.content{
    display: flex;
    flex-direction: column;
}

.content1{
    background-image: url("../Picture/test4.png");
    background-size: 100%;
    display: flex;
    height: 500px;
}

.content1 .product{
    width: 50%;
    display: flex;
    justify-content: center;
}

.content1 img{
    max-width: 100%;
    float: left;
}

.content1 .txt{
    height: 100%;
    width: 50%;
    float: right;
}

.content1 .txt .one{
    font-size: 25px;
    font-weight: bold;
}

.content1 .txt .two{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.content1 .txt .three{
    font-size: 25px;
    font-weight: bold;
    color: #800000;
}

.content1 .txt .four{
    font-size: 20px;
    color: #696969;
}

button{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #b959ff;
    color: #fafafa;
    border: none;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
}

button:hover{
    border: 3px solid #000000;
}

.content2{
    background-color: #eeeeee;
}

.content2 .word1{
    margin-top: 1%;
    margin-left: 10%;
    width: 30%;
    float: left;
}

.content2 .word1 .p1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.content2 .word1 .p2{
    font-size: 30px;
    font-weight: bold;
    color: #800000;
}

.content2 .word2 .p1{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.content2 .word2 .p2{
    font-size: 20px;
    color: #696969;
}

.content2 .word2{
    width: 60%;
    height: 400px;
    float: right;
}

.content2 .word2 .word2-1{
    width: 50%;
    height: 50%;
    float: left;
}

.content2 .word2 .word2-2{
    width: 50%;
    height: 50%;
    float: left;
}

.content2 .word2 .word2-3{
    width: 50%;
    height: 50%;
    float: left;
}

.content2 .word2 .word2-4{
    width: 50%;
    height: 50%;
    float: left;
}

.content3{
    height: 800px;
}

.content3 img{
    width: 100%;
}

.content3 .p1{
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.content3 .p2{
    color: #800000;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.content3 ol{
    color: #696969;
    font-size: 20px;
}

.content3 .word1-1{
    margin-left: 10%;
    width: 20%;
    float: left;
}

.content3 .word1-2{
    width: 20%;
    float: left;
}

.content3 .word1-3{
    width: 20%;
    float: left;
}

.content3 .word1-4{
    width: 20%;
    float: left;
}

.content4 .ContactInfo{
    background-color: #e8e8e8;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 300px;
}

.content4 .ContactInfo .name{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    color: #000000;
    font-weight: bold;
    float: left;
}

.content4 .ContactInfo .name p{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
    font-size: 140%;
}

.content4 .ContactInfo .name img{
    display:block; 
    margin:auto;
    width: 70%;
}

.content4 .ContactInfo .data{
    background-color: #fafafa;
    border-radius: 20px 20px 20px 20px;
    width: 45%;
    height: 80%;
    float: right;
}

.content4 .ContactInfo .data .title1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 30px;
}

.content4 .ContactInfo .data img{
    height: 20px;
    margin-left: 10%;
    float: left;
}

.content4 .ContactInfo .data .title2{
    font-size: 20px;
}

.content4 .ContactInfo .data a{
    color: #000000;
    text-decoration: none;
}

.content4 .ContactInfo .data a:hover{
    color: #0000D6;
}