@media(min-width: 1024px){
    .content{
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
    }
    
    .content1{
        background-color: #fafafa;
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 1% 0 1% 3%;
        width: 30%;
        border-radius: 20px;    
    }
    
    .content1 .word1 img{
        width: 80%;
    }
    
    .content1 .word2 .p1{
        font-family: "Comic Sans MS";
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    
    .content1 .word2 .p2{
        font-size: 15px;
    }

    .content1:hover .word2 .p1{
        color: #0000FF;
    }

    .content1:hover{
        outline: 3px solid #000000;
    }
}

@media(min-width: 720px) and (max-width: 1024px) {
    .content{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #eeeeee;
    }
    
    .content1{
        background-color: #fafafa;
        display: flex;
        margin: 1% 0 1% 0;
        width: 80%;
        border-radius: 20px;    
    }
    
    .content1 .word1{
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        width: 40%;
    }

    .content1 .word1 img{
        width: 80%;
    }

    .content1 .word2 .p1{
        font-family: "Comic Sans MS";
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }

    .content1 .word2 .p2{
        font-size: 15px;
    }

    .content1:hover .word2 .p1{
        color: #0000FF;
    }

    .content1:hover{
        outline: 3px solid #000000;
    }
}

@media(max-width: 720px){
    .content{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #eeeeee;
    }
    
    .content1{
        background-color: #fafafa;
        display: flex;
        margin: 1% 0 1% 0;
        width: 80%;
        border-radius: 20px;    
    }
    
    .content1 .word1{
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
    }

    .content1 .word1 img{
        width: 80%;
    }

    .content1 .word2 .p1{
        font-family: "Comic Sans MS";
        text-decoration: none;
        color: #000;
        font-size: 15px;
    }

    .content1 .word2 .p2{
        font-size: 13px;
    }

    .content1:hover .word2 .p1{
        color: #0000FF;
    }

    .content1:hover{
        outline: 3px solid #000000;
    }

}