.content{
    display: flex;
    flex-direction: column;
}

.content1{
    background-color: #ededed;
    display: flex;
    align-items: center;
}

.content1 img{
    border-radius: 20px 20px 20px 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 40%;
    float: right;
}

.content1 .word{
    font-family: "Comic Sans MS";
    margin-left: 9%;
    width: 30%;
    float: left;
}

.p1{
    font-size: 40px;
    font-weight: bold;
}

.p2{
    font-size: 30px;
    color: #800000;
}

.content2{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content2 img{
    margin-left: 15%;
    width: 20%;
    outline: 3px solid #b959ff;
    float: left;
}

.content2 .word{
    margin-left: 5%;
    width: 50%;
    float: right;
}

.p4{
    color: #800000;
    font-size: 30px;
    font-weight: bold;
}

.p5{
    font-size: 20px;
    font-weight: bold;
}

.p6{
    font-size: 20px;
    color: #828282;
}

.content3{
    background-color: #ededed;
    display: flex;
    align-items: center;
}

.content3 img{
    border-radius: 20px 20px 20px 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 40%;
    float: right;
}

.content3 .word{
    font-family: "Comic Sans MS";
    margin-left: 9%;
    width: 30%;
    float: left;
}

.content4{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content4 img{
    margin-left: 15%;
    width: 20%;
    border: 3px solid #b959ff;
    float: left;
}

.content4 .word{
    margin-left: 5%;
    width: 50%;
    float: right;
}

.content5{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content5 img{
    margin-left: 15%;
    width: 20%;
    border: 3px solid #b959ff;
    float: left;
}

.content5 .word{
    margin-left: 5%;
    width: 50%;
    float: right;
}

.content6{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content6 img{
    margin-left: 15%;
    width: 20%;
    border: 3px solid #b959ff;
    float: left;
}

.content6 .word{
    margin-left: 5%;
    width: 50%;
    float: right;
}

.content7{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.content7 img{
    margin-left: 15%;
    width: 20%;
    border: 3px solid #b959ff;
    float: left;
}

.content7 .word{
    margin-left: 5%;
    width: 50%;
    float: right;
}

/* 样式表开始 */
.color-transition-button {
    /* 保持原始按钮的样式 */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #b959ff;
    color: #fafafa;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    position: relative;
    overflow: hidden; /* 为了裁剪伪元素 */
}

.button-text {
    /* 设置按钮上文字的样式 */
    position: relative;
    z-index: 1; /* 将文字置于伪元素之上 */
}

.fill {
    /* 用于填充颜色的伪元素 */
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000000;
    transform-origin: left;
    transition: width 0.5s ease-in-out; /* 宽度变化过渡效果，持续0.3秒，缓入缓出 */
}

.color-transition-button:hover .fill {
    /* 当按钮悬停时，伪元素宽度变为100%，实现颜色从左到右填充效果 */
    width: 100%;
}
/* 样式表结束 */