@media(min-width: 1024px){
    .content1{
        background-color: #ededed;
        font-weight: bold;
        font-family: "Comic Sans MS";
    }
    
    .content1 .word1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .content1 .p1{
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    
    .content1 .p2{
        font-size: 25px;
        color: #800000;
        font-weight: bold;
    }
    /*  */
    .content2{
        background-image: url("../Picture/test4.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content2 .word1{
        display: flex;
        width: 40%;
    }
    
    .content2 .word2{
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 20px;
        width: 40%;
    }
    
    .content2 .word1 img{
        border-radius: 20px;
        width: 100%;
    }

    .content2 .word2 .p1{
        color: #800000;
        font-size: 30px;
        font-weight: bold;
    }
    
    .content2 .word2 .p2{
        color: #828282;
        font-size: 20px;
        text-align: justify;
        margin: 0 2% 3% 2%;
    }
    /*  */
    .content3{
        background-color: #d4d4d4;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 3% 0;
    }
    
    .content3 .word1{
        font-family: "Comic Sans MS";
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
    }

    .content3 .word2{
        display: flex;
        width: 30%;
    }

    .content3 .word3{
        background-color: #fafafa;
        width: 30%;
    }

    .content3 .word2 img{
        width: 100%;
    }

    .content3 .word3 .p1{
        display: flex;
        font-size: 30px;
        font-weight: bolder;
    }

    .content3 .word3 .p2{
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content3 .word3 .p3{
        font-size: 20px;
    }
}

@media(min-width: 720px) and (max-width: 1024px){
    .content1{
        background-color: #ededed;
        font-family: "Comic Sans MS";
        font-weight: bold;
    }
    
    .content1 .word1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .content1 .p1{
        font-size: 30px;
    }
    
    .content1 .p2{
        font-size: 20px;
        color: #800000;
        font-weight: bold;
    }
    /*  */
    .content2{
        background-image: url("../Picture/test4.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content2 .word1{
        display: flex;
        width: 40%;
    }
    
    .content2 .word2{
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 20px;
        width: 40%;
    }
    
    .content2 .word1 img{
        border-radius: 20px;
        width: 100%;
    }

    .content2 .word2 .p1{
        font-size: 20px;
        color: #800000;
        font-weight: bold;
    }
    
    .content2 .word2 .p2{
        color: #828282;
        font-size: 17px;
        text-align: justify;
        margin: 0 2% 3% 2%;
    }
    /*  */
    .content3{
        background-color: #d4d4d4;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 3% 0;
    }
    
    .content3 .word1{
        font-family: "Comic Sans MS";
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
    }

    .content3 .word2{
        display: flex;
        width: 30%;
    }

    .content3 .word3{
        background-color: #fafafa;
        width: 30%;
    }

    .content3 .word2 img{
        width: 100%;
    }

    .content3 .word3 .p1{
        display: flex;
        font-size: 25px;
        font-weight: bolder;
    }

    .content3 .word3 .p2{
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content3 .word3 .p3{
        font-size: 20px;
    }
}

@media(max-width: 720px){
    .content1{
        background-color: #ededed;
        font-family: "Comic Sans MS";
        font-weight: bold;
    }
    
    .content1 .word1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .content1 .p1{
        font-size: 25px;
        text-align: center;
    }
    
    .content1 .p2{
        font-size: 20px;
        color: #800000;
        font-weight: bold;
        text-align: center;
    }
    /*  */
    .content2{
        background-image: url("../Picture/test4.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 3% 0 0 0;
    }
    
    .content2 .word1{
        width: 80%;
    }
    
    .content2 .word2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    
    .content2 .word1 img{
        border-radius: 20px;
        width: 100%;
    }

    .content2 .word2 .p1{
        font-size: 25px;
        color: #800000;
        font-weight: bold;
    }
    
    .content2 .word2 .p2{
        color: #828282;
        font-size: 20px;
        text-align: justify;
    }
    /*  */
    .content3{
        background-color: #d4d4d4;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 3% 0;
    }
    
    .content3 .word1{
        font-family: "Comic Sans MS";
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
    }

    .content3 .word2{
        width: 80%;
    }

    .content3 .word3{
        width: 80%;
    }

    .content3 .word2 img{
        border-radius: 20px;
        width: 100%;
    }

    .content3 .word3 .p1{
        font-family: "Comic Sans MS";
        font-size: 20px;
        font-weight: bolder;
    }

    .content3 .word3 .p2{
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content3 .word3 .p3{
        font-size: 20px;
    }
}