@media(min-width: 1024px){

    .content{
        display: flex;
        flex-direction: column;
    }
    
    .content1{
        background-image: url("../Picture/test4.png");
        background-size: 100%;
        display: flex;
    }
    
    .content1 .word1{
        display: flex;
        width: 50%;
    }
    
    .content1 .word1 img{
        display:block; 
        margin:auto;
        max-height: 500px;
        width: 50%;
    }
    
    .content1 .word2{
        height: 100%;
        width: 50%;
    }
    
    .content1 .word2 .p1{
        font-size: 25px;
        font-weight: bold;
    }
    
    .content1 .word2 .p2{
        font-size: 40px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    
    .content1 .word2 .p3{
        font-size: 25px;
        font-weight: bold;
        color: #800000;
    }
    
    .content1 .word2 .p4{
        font-size: 20px;
        color: #696969;
    }
    
    /* 样式表开始 */
    .color-transition-button {
        /* 保持原始按钮的样式 */
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #b959ff;
        color: #fafafa;
        border: none;
        font-size: 20px;
        width: 150px;
        height: 50px;
        border-radius: 40px;
        margin-bottom: 5%;
        position: relative;
        overflow: hidden; /* 为了裁剪伪元素 */
    }
    
    .button-text {
        /* 设置按钮上文字的样式 */
        position: relative;
        z-index: 1; /* 将文字置于伪元素之上 */
    }
    
    .fill {
        /* 用于填充颜色的伪元素 */
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #000;
        transform-origin: left;
        transition: width 0.5s ease-in-out; /* 宽度变化过渡效果，持续0.3秒，缓入缓出 */
    }
    
    .color-transition-button:hover .fill {
        /* 当按钮悬停时，伪元素宽度变为100%，实现颜色从左到右填充效果 */
        width: 100%;
    }
    /* 样式表结束 */
    
    .content2{
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content2 .word1{
        width: 25%;
    }
    
    .content2 .word2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 70%;
    }
    
    .content2 .word1 .p1{
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }
    
    .content2 .word1 .p2{
        font-size: 30px;
        font-weight: bold;
        color: #800000;
    }
    
    .content2 .word2 .p1{
        font-size: 30px;
        font-weight: bold;
        color: #000000;
    }
    
    .content2 .word2 .p2{
        font-size: 20px;
        color: #696969;
    }
    
    .content2 .word2 .word2-1{
        margin: 0 1% 0 1%;
        width: 40%;
    }
    /*  */
    .content3{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content3 img{
        width: 100%;
    }
    
    .content3 .word1{
        color: #000000;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
    }
    
    .content3 .word2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content3 .p1{
        color: #800000;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
    }
    
    .content3 .p2{
        color: #696969;
        font-size: 20px;
    }
    
    .content3 .word2-1{
        margin: 0 0 0 1%;
        width: 20%;
    }
    /*  */
    .content4{
        background-color: #e8e8e8;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content4 .word1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
    }
    
    .content4 .word1 .p1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        color: #000000;
        font-weight: bold;
        font-size: 25px;
    }
    
    .content4 .word1 img{
        display:block; 
        margin:auto;
        width: 70%;
    }
    
    .content4 .word2{
        background-color: #fafafa;
        border-radius: 20px;
        width: 45%;
        margin: 3% 0 3% 0;
    }
    
    .content4 .word2 .p1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 30px;
    }
    
    .content4 .word2 img{
        margin: 0 0 0 4%;
        height: 20px;
        float: left;
    }
    
    .content4 .word2 .p2{
        list-style: none;
        font-size: 20px;
    }
    
    .content4 .word2 a{
        color: #000000;
        text-decoration: none;
    }
    
    .content4 .word2 a:hover{
        color: #0000D6;
    }
    }
    
    @media(min-width: 720px) and (max-width: 1024px){
    
    .content{
        display: flex;
        flex-direction: column;
    }
    
    .content1{
        background-image: url("../Picture/test4.png");
        background-size: 100%;
    }
    
    .content1 .word1{
        display: flex;
    }
    
    .content1 .word1 img{
        display:block; 
        margin:auto;
        width: 50%;
    }
    
    .content1 .word2{
        margin:  0 1% 0 1%;
    }
    
    .content1 .word2 .p1{
        font-size: 25px;
        font-weight: bold;
    }
    
    .content1 .word2 .p2{
        font-size: 40px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    
    .content1 .word2 .p3{
        font-size: 25px;
        font-weight: bold;
        color: #800000;
    }
    
    .content1 .word2 .p4{
        font-size: 20px;
        color: #696969;
    }
    
    /* 样式表开始 */
    .color-transition-button {
        /* 保持原始按钮的样式 */
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #b959ff;
        color: #fafafa;
        border: none;
        font-size: 20px;
        width: 150px;
        height: 50px;
        border-radius: 40px;
        margin-bottom: 5%;
        position: relative;
        overflow: hidden; /* 为了裁剪伪元素 */
    }
    
    .button-text {
        /* 设置按钮上文字的样式 */
        position: relative;
        z-index: 1; /* 将文字置于伪元素之上 */
    }
    
    .fill {
        /* 用于填充颜色的伪元素 */
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #000;
        transform-origin: left;
        transition: width 0.5s ease-in-out; /* 宽度变化过渡效果，持续0.3秒，缓入缓出 */
    }
    
    .color-transition-button:hover .fill {
        /* 当按钮悬停时，伪元素宽度变为100%，实现颜色从左到右填充效果 */
        width: 100%;
    }
    /* 样式表结束 */
    /*  */
    .content2{
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content2 .word1{
        text-align: center;
    }
    
    .content2 .word2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content2 .word1 .p1{
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }
    
    .content2 .word1 .p2{
        font-size: 25px;
        font-weight: bold;
        color: #800000;
    }
    
    .content2 .word2 .p1{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
    }
    
    .content2 .word2 .p2{
        font-size: 15px;
        color: #696969;
    }
    
    .content2 .word2 .word2-1{
        width: 45%;
    }
    /*  */
    .content3{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content3 img{
        width: 100%;
    }
    
    .content3 .word1{
        font-weight: bold;
        color: #000000;
        text-align: center;
        font-size: 40px;
    }
    
    .content3 .word2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    
    }
    
    .content3 .p1{
        color: #800000;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
    
    .content3 .p2{
        color: #696969;
        font-size: 16px;
    }
    
    .content3 .word2-1{
        margin: 0 0 0 1%;
        width: 20%;
    }
    /*  */
    .content4{
        background-color: #e8e8e8;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content4 .word1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 3% 0 3% 0;
        width: 50%;
    }
    
    .content4 .word1 .p1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        color: #000000;
        font-weight: bold;
        font-size: 18px;
    }
    
    .content4 .word1 img{
        display:block; 
        margin:auto;
        width: 70%;
    }
    
    .content4 .word2{
        background-color: #fafafa;
        border-radius: 20px;
        width: 45%;
        margin: 3% 0 3% 0;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .content4 .word2 .p1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 30px;
    }
    
    .content4 .word2 img{
        margin: 0 0 0 4%;
        height: 20px;
        float: left;
    }
    
    .content4 .word2 .p2{
        list-style: none;
        font-size: 20px;
    }
    
    .content4 .word2 a{
        color: #000000;
        text-decoration: none;
    }
    
    .content4 .word2 a:hover{
        color: #0000D6;
    }
    }
    
    @media(max-width: 720px){
    
        .content{
            display: flex;
            flex-direction: column;
        }
        
        .content1{
            background-image: url("../Picture/test4.png");
            background-size: cover;
        }
        
        .content1 .word1{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content1 .word2{
            margin:  0 2% 0 2%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content1 .word1 img{
            display:block; 
            margin:auto;
            width: 100%;
        }
        
        .content1 .word2 .p1{
            font-size: 25px;
            font-weight: bold;
            color: #000;
        }
        
        .content1 .word2 .p2{
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            color: #000;
        }
        
        .content1 .word2 .p3{
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            color: #800000;
        }
        
        .content1 .word2 .p4{
            font-size: 18px;
            color: #696969;
        }
        
        /* 样式表开始 */
        .color-transition-button {
            /* 保持原始按钮的样式 */
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            background-color: #b959ff;
            color: #fafafa;
            border: none;
            font-size: 20px;
            width: 150px;
            height: 50px;
            border-radius: 40px;
            margin-bottom: 5%;
            position: relative;
            overflow: hidden; /* 为了裁剪伪元素 */
        }
        
        .button-text {
            /* 设置按钮上文字的样式 */
            position: relative;
            z-index: 1; /* 将文字置于伪元素之上 */
        }
        
        .fill {
            /* 用于填充颜色的伪元素 */
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #000;
            transform-origin: left;
            transition: width 0.5s ease-in-out; /* 宽度变化过渡效果，持续0.3秒，缓入缓出 */
        }
        
        .color-transition-button:hover .fill {
            /* 当按钮悬停时，伪元素宽度变为100%，实现颜色从左到右填充效果 */
            width: 100%;
        }
        /* 样式表结束 */
        /*  */
        .content2{
            background-color: #eeeeee;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content2 .word1{
            text-align: center;
        }
        
        .content2 .word2{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content2 .word1 .p1{
            font-size: 40px;
            font-weight: bold;
            color: #000000;
        }
        
        .content2 .word1 .p2{
            font-size: 25px;
            font-weight: bold;
            color: #800000;
        }
        
        .content2 .word2 .p1{
            font-size: 18px;
            font-weight: bold;
            color: #000000;
        }
        
        .content2 .word2 .p2{
            font-size: 15px;
            color: #696969;
        }
        
        .content2 .word2 .word2-1{
            width: 45%;
        }
        /*  */
        .content3{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content3 .word1{
            color: #000000;
            font-weight: bold;
            font-size: 40px;
        }
    
        .content3 .word2 img{
            width: 100%;
        }
    
        .content3 .word2 .p1{
            color: #800000;
            font-weight: bold;
            text-align: center;
            font-size: 22px;
        }
        
        .content3 .word2 .p2{
            color: #696969;
            font-size: 16px;
        }
        /*  */
        .content4{
            background-color: #e8e8e8;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .content4 .word1{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            margin: 3% 0 0 0;
        }
        
        .content4 .word2{
            background-color: #fafafa;
            border-radius: 20px;
            margin: 3% 0 3% 0;
        }
        
        .content4 .word1 img{
            display:block; 
            margin:auto;
            width: 100%;
        }
    
        .content4 .word1 .p1{
            color: #000000;
            font-weight: bold;
            font-size: 12px;
        }
        
        
        .content4 .word2 img{
            margin: 0 0 0 4%;
            height: 20px;
            float: left;
        }
    
        .content4 .word2 .p1{
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
        
        .content4 .word2 .p2{
            list-style: none;
            font-size: 13px;
        }
        
        .content4 .word2 a{
            color: #000000;
            text-decoration: none;
        }
        
        .content4 .word2 a:hover{
            color: #0000D6;
        }
    }
        