.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5% 0 5%;
}

.content .p1{
    font-size: 30px;
    font-weight: bold;
}

.content .p2{
    font-size: 20px;
    color: #828282;
}

.content .p2 .b1{
    color: #828282;
    text-decoration: none;
}

.content .p2 .b1:hover{
    color: #0000FF;
}

.content .p2 .b2{
    color: #0000FF;
}

.content .p2 .b3{
    color: #000000;
}

.content .p3{
    text-align: center;
}